.header{
    text-align:right;
    background: #344040;
    border-radius: 20px;
    height: 40px;
    margin: 20px;
    padding: 10px;
    white-space: 30px;
    font-size: 30px;
}
a {
    font-family: impact; 
    color: #C3D5D5;
}
caption{
    font-family: impact;
    color:aliceblue;
    font-size: 30px;
}
table{
    width: 1000px;
    height: 400px;
    border-collapse: collapse;
    border: 1px solid black;
}
tr,td{
    font-family: impact;
    text-align: left;
    padding: 15px;
    font-size: 30px;
}
/*tr:first-child{
    background-color: aliceblue;
}*/
tr:nth-child(odd){
    background-color: aliceblue;
}
tr:nth-child(even){
    background-color: lightblue;
}